*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.pause-button{
  display: none;
}

.time{
  display: flex;
  width: 40%;
  justify-content: space-around;
}